* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

body, html {
    height: 100%;
}

.parallax {
	filter: grayscale(100%);
    height: 40%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first {
    background-image: url('../img/p1.JPG');
}

.second {
    background-image: url('../img/p2.JPG');
}
.footer{
	background-image: url('../img/p3.JPG');
}

nav {
	height: 60px;
	background-color: transparent;
	position: fixed;
	right: 0;
	top: 0;
	padding: 30px;
}

nav ul {
	position: relative;

}

nav ul li {
	display: flex;
	text-align: right;
}

.menu {
	text-align: right;
}
#presentation {
	background-color: white;
	position:relative;
}

.hello {
	font-weight: 700;
	font-size: 15vw;
	color: #ff725c;
	margin: 0;
	position: relative;
	transition:all 0.6s ease;
}

.color:hover{
    color:#53a7ea;
    transition:all 0.6s ease;
}

.pres{
	color: #ff725c;
	font-weight: 300;
	font-size: 2vw
}

#presentation, #about, #skills {
	padding: 10%;
}

.aboutme {
	width: 70%;
	font-size: 1.4em;
	color: #ff725c;
	text-align: justify;
}
#skills{
	font-size: 1.4em;
}

.projects{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.projects .photo {
	width: 33%;
	margin: 5%;
}
.photo img {
	width: 100%;
}

footer {
	padding: 5% 10%;
	font-size: 1.4em;
}




@media (max-width: 600px) {
	.pres{
		font-weight: thin;
		font-size: 4vw
	}
	.hello {
		font-size: 30vw;
	}
	.aboutme{
		width: 90%;
		margin: 0 auto;
		font-size: 1em;
	}
}

