* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
	color: #ee695c;
}

body, html {
    height: 100%;
}

section, footer {
	background-color: #eeeeee;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur{
	filter: grayscale(100%) blur(2px);
	height: 40%; 
}

.first {
    background-image: url('../img/p1.JPG');
}

.second {
    background-image: url('../img/p2.JPG');
}
.footer{
	background-image: url('../img/p3.JPG');
}

.third{
	background-image: url('../img/p4.JPG');
}


.flightwf{
	background-image: url('../img/booking.png');
	height: 40vh;
}

.flightwf2{
	background-image: url('../img/booking2.png');
	height: 40vh;
}
.booking {
	background-image: url('../img/flight.png');

}

.met {
	background-image: url('../img/met.png');
}
.metp1 {
	background-image: url('../img/metp1.png');
	height: 40vh;
}
.metp2 {
	background-image: url('../img/metp2.jpg');
	height: 40vh;
}
.bdiv{
	height: 80vh;
	position: relative;
	color: white;
	font-size: 3em;
	text-transform: uppercase;
}


.booking div, .bdiv div {
	position: absolute;
	bottom: 100px;
	right: 100px;
}

.booking div h1, .bdiv div h1{
	padding: 10px;
	background-color: #eee;
}

nav {
	height: 60px;
	background-color: transparent;
	position: fixed;
	right: 0;
	top: 0;
	padding: 30px;
}

nav ul {
	position: relative;

}

nav ul li {
	display: flex;
	text-align: right;
}

.menu {
	text-align: right;
}
#presentation {
	background-color: #eeeeee;
	position:relative;
}

.hello {
	font-weight: 700;
	font-size: 15vw;
	color: #ee695c;
	margin: 0;
	position: relative;
	transition:all 0.6s ease;
}

.color:hover{
    color:#53a7ea;
    transition:all 0.6s ease;
}

.pres{
	color: #ee695c;
	font-weight: 300;
	font-size: 2vw
}

#presentation, #about, #skills, #tools, .booking, #booking-wires, #booking-des {
	padding: 10%;
}

.aboutme {
	width: 70%;
	font-size: 1.4em;
	color: #4f80a1;
	text-align: justify;
}
#skills{
	font-size: 1.4em;
}

.projects{
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.projects .photo {
	width: 33%;
	margin: 1%;
	position: relative;
	text-align: center;
}

.pr1{
	transition:all 0.3s ease;
	filter: grayscale(100%);
	overflow: hidden;
	margin-bottom: 40px;
}

.pr1:hover{
	transition:all 0.3s ease;
	filter: grayscale(0%);
}

.photo img {
	width: 100%;
	transition:all 0.3s ease;
}

.photo img:hover {
	transform: scale(1.1);
	transition:all 0.3s ease;
}
.tools {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin-top: 50px;
}

#tools h2 {
	font-size: 2em;
}
.tools .col {
	width: 33%;
	margin: 1%;
}

footer {
	padding: 5% 10%;
	font-size: 1.4em;
}

.wireframes{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 98%
}

.bphoto {
	width: 30%;
	margin: 1%;
}
.bphoto img{
	width: 100%;
	border: 10px solid white;
}

.bphoto2 {
	width: 45%;
	margin: 1%;
}
.bphoto2 img{
	width: 100%;
	border: 10px solid white;
}


.metphoto {
	width: 70%;
	margin: 1%;
}
.metphoto img{
	width: 100%;
	border: 10px solid white;
}


@media (max-width: 600px) {
	.pres{
		font-weight: thin;
		font-size: 4vw
	}
	.hello {
		font-size: 30vw;
	}
	.aboutme{
		width: 90%;
		margin: 0 auto;
		font-size: 1em;
	}
}

